.home-icon {
  width: 48px;height:48px;background-color: #36393f;border-radius: 50%;display: inline-block;
}
.add-icon {
  width: 48px;height:48px;background-color: #36393f;border-radius: 50%;display: inline-block;
}
