<div class="discord-message discord-highlight-mention">
  <div class="options">
    <div class="buttons-3dF5Kd container-2gUZhU" role="group" aria-label="Message Actions" style="z-index:3;position:relative;left:100%;">
      <div class="wrapper-2vIMkT">
        <div style="display: inline" class="button-3bklZh" aria-label="Add Reaction" aria-controls="popout_230" aria-expanded="false" role="button" tabindex="0">
          <svg class="icon-1zidb7" aria-hidden="false" width="24" height="24" viewBox="0 0 24 24" data-toggle="tooltip" data-placement="top" title="Add reaction">
            <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M12.2512 2.00309C12.1677 2.00104 12.084 2 12 2C6.477 2 2 6.477 2 12C2 17.522 6.477 22 12 22C17.523 22 22 17.522 22 12C22 11.916 21.999 11.8323 21.9969 11.7488C21.3586 11.9128 20.6895 12 20 12C15.5817 12 12 8.41828 12 4C12 3.31052 12.0872 2.6414 12.2512 2.00309ZM10 8C10 6.896 9.104 6 8 6C6.896 6 6 6.896 6 8C6 9.105 6.896 10 8 10C9.104 10 10 9.105 10 8ZM12 19C15.14 19 18 16.617 18 14V13H6V14C6 16.617 8.86 19 12 19Z">
            </path>
            <path d="M21 3V0H19V3H16V5H19V8H21V5H24V3H21Z" fill="currentColor"></path>
          </svg>
        </div>
        <div style="display: inline" class="button-3bklZh" aria-label="Edit" role="button" tabindex="0">
          <svg class="icon-1zidb7" aria-hidden="false" width="16" height="16" viewBox="0 0 24 24" data-toggle="tooltip" data-placement="top" title="Edit">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.2929 9.8299L19.9409 9.18278C21.353 7.77064 21.353 5.47197 19.9409 4.05892C18.5287 2.64678 16.2292 2.64678 14.817 4.05892L14.1699 4.70694L19.2929 9.8299ZM12.8962 5.97688L5.18469 13.6906L10.3085 18.813L18.0201 11.0992L12.8962 5.97688ZM4.11851 20.9704L8.75906 19.8112L4.18692 15.239L3.02678 19.8796C2.95028 20.1856 3.04028 20.5105 3.26349 20.7337C3.48669 20.9569 3.8116 21.046 4.11851 20.9704Z" fill="currentColor"></path>
          </svg>
        </div>
        <div style="display: inline" class="button-3bklZh" aria-label="Create Thread" role="button" tabindex="0">
          <svg class="icon-1zidb7" aria-hidden="false" width="24" height="24" viewBox="0 0 24 24" fill="none" data-toggle="tooltip" data-placement="top" title="Create thread">
            <path fill="currentColor" d="M5.43309 21C5.35842 21 5.30189 20.9325 5.31494 20.859L5.99991 17H2.14274C2.06819 17 2.01168 16.9327 2.02453 16.8593L2.33253 15.0993C2.34258 15.0419 2.39244 15 2.45074 15H6.34991L7.40991 9H3.55274C3.47819 9 3.42168 8.93274 3.43453 8.85931L3.74253 7.09931C3.75258 7.04189 3.80244 7 3.86074 7H7.75991L8.45234 3.09903C8.46251 3.04174 8.51231 3 8.57049 3H10.3267C10.4014 3 10.4579 3.06746 10.4449 3.14097L9.75991 7H15.7599L16.4523 3.09903C16.4625 3.04174 16.5123 3 16.5705 3H18.3267C18.4014 3 18.4579 3.06746 18.4449 3.14097L17.7599 7H21.6171C21.6916 7 21.7481 7.06725 21.7353 7.14069L21.4273 8.90069C21.4172 8.95811 21.3674 9 21.3091 9H17.4099L17.0495 11.04H15.05L15.4104 9H9.41035L8.35035 15H10.5599V17H7.99991L7.30749 20.901C7.29732 20.9583 7.24752 21 7.18934 21H5.43309Z"></path>
            <path fill="currentColor" d="M13.4399 12.96C12.9097 12.96 12.4799 13.3898 12.4799 13.92V20.2213C12.4799 20.7515 12.9097 21.1813 13.4399 21.1813H14.3999C14.5325 21.1813 14.6399 21.2887 14.6399 21.4213V23.4597C14.6399 23.6677 14.8865 23.7773 15.0408 23.6378L17.4858 21.4289C17.6622 21.2695 17.8916 21.1813 18.1294 21.1813H22.5599C23.0901 21.1813 23.5199 20.7515 23.5199 20.2213V13.92C23.5199 13.3898 23.0901 12.96 22.5599 12.96H13.4399Z"></path>
          </svg>
        </div>
        <div style="display: inline" class="button-3bklZh" aria-label="More" aria-controls="popout_231" aria-expanded="false" role="button" tabindex="0">
          <svg class="icon-1zidb7" aria-hidden="false" width="24" height="24" viewBox="0 0 24 24" data-toggle="tooltip" data-placement="top" title="More">
            <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M7 12.001C7 10.8964 6.10457 10.001 5 10.001C3.89543 10.001 3 10.8964 3 12.001C3 13.1055 3.89543 14.001 5 14.001C6.10457 14.001 7 13.1055 7 12.001ZM14 12.001C14 10.8964 13.1046 10.001 12 10.001C10.8954 10.001 10 10.8964 10 12.001C10 13.1055 10.8954 14.001 12 14.001C13.1046 14.001 14 13.1055 14 12.001ZM19 10.001C20.1046 10.001 21 10.8964 21 12.001C21 13.1055 20.1046 14.001 19 14.001C17.8954 14.001 17 13.1055 17 12.001C17 10.8964 17.8954 10.001 19 10.001Z"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="discord-author-avatar">
    <img src="/img/avatar/0.png" alt="<%= user.tag%>" />
  </div>
  <div class="discord-message-content">
    <div>
      <%- include('./author', {user})%>
      <span class="discord-message-timestamp"><%= new Date(user.createdAt).toDateString() %></span>
    </div>
    <div class="discord-message-body">
      <% if (embed) { %>
        <%- include('./embed', {authorImage: 'http://192.168.0.14:3000/img/avatar/0.png', authorName: 'ben#0000', authorUrl: 'http://192.168.0.14:3000/img/avatar/0.png',
color: 'green', embedTitle: 'Hello', footerImage: 'http://192.168.0.14:3000/img/avatar/0.png', image: 'http://192.168.0.14:3000/img/avatar/0.png',
thumbnail: 'http://192.168.0.14:3000/img/avatar/0.png', timestamp: new Date(), url: 'https://www.google.com', footerSlot: null}) %>
      <% } else { %>
        <slot>Hello</slot>
      <% } %>
      <span class="discord-message-edited">(edited)</span>
    </div>
    <slot name="embeds"></slot>
  </div>
</div>
<style media="screen">
  .options {
    display: none;
  }
  .discord-message {
  	color: #dcddde;
  	display: flex;
  	font-size: 0.9em;
  	margin: 1em 0;
  	padding: 0.25em 1em 0;
    width: calc(100% - 3px);
  }

  .discord-message:hover {
  	background-color: #32353b;
  }

  .discord-light-theme .discord-message {
  	color: #2e3338;
  }

  .discord-light-theme .discord-message:hover {
  	background-color: #fafafa;
  }

  .discord-message a {
  	color: #0096cf;
  	font-weight: normal;
  	text-decoration: none;
  }

  .discord-message a:hover {
  	text-decoration: underline;
  }

  .discord-light-theme .discord-message a {
  	color: #00b0f4;
  }
  .discord-author-avatar img:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
  }
  .discord-message .discord-author-avatar {
  	margin-top: 1px;
  	margin-right: 16px;
  	min-width: 40px;
  }

  .discord-message .discord-author-avatar img {
  	width: 40px;
  	height: 40px;
  	border-radius: 50%;
  }

  .discord-message .discord-message-timestamp {
  	color: #72767d;
  	font-size: 12px;
  	margin-left: 3px;
  }

  .discord-light-theme .discord-message .discord-message-timestamp {
  	color: #747f8d;
  }

  .discord-message .discord-message-edited {
  	color: #72767d;
  	font-size: 10px;
  }

  .discord-light-theme .discord-message .discord-message-edited {
  	color: #99aab5;
  }

  .discord-message .discord-message-content {
  	width: 100%;
  	line-height: 160%;
  	font-weight: normal;
  	overflow-wrap: anywhere;
  }

  .discord-message .discord-message-body {
  	position: relative;
  }

  .discord-light-theme .discord-message .discord-message-timestamp,
  .discord-compact-mode .discord-message:hover .discord-message-timestamp,
  .discord-compact-mode.discord-light-theme .discord-message:hover .discord-message-timestamp {
  	color: #99aab5;
  }

  .discord-compact-mode.discord-light-theme .discord-message .discord-message-timestamp {
  	color: #d1d9de;
  }

  .discord-compact-mode .discord-message {
  	margin: 0.15em 0;
  	padding-left: 0.25em;
  	padding-right: 0.25em;
  }

  .discord-compact-mode .discord-author-avatar {
  	display: none;
  }
</style>
